.App {
	display: flex;
	justify-content: center;
}

.Container {
	margin-top: 20px;
	width: 980px;
}

.Action {
	display: flex;
	padding-bottom: 10px;
}

.Action-Input {
	flex-grow: 1;
	border: 1px solid #ddd;
	border-radius: 25px;
	display: flex;
}

.Input {
	flex-grow: 1;
	padding: 6px 12px;
	outline: none;
	border: 0;
	background-color: transparent;
	font-size: 12px;
}

.Input-Text {
	background-image: url("https://cdn.rawgit.com/marcobiedermann/playground/master/ui/search/simple-search-bar/dist/assets/images/magnifier.svg");
	background-position: 99%;
	background-repeat: no-repeat;
	background-size: 1.5em;
}

.Action-Select {
	padding: 4px;
}

.Filter {
	padding: 12px;
}

.Fetching-Reviews {
	margin-top: 20px;
	color: gray;
	text-align: center;
}

@media only screen and (max-width: 768px) {
  	/* For mobile phones: */
	.Container {
    	width: 95%;
  	}

  	.Review-Container {
  		padding: 12px;
  	}

  	.Review-Product-Title {
  		width: 100px;
  	}

  	.Mr-10 {
  		margin-right: 6px;
	}

	.Mr-20 {
	  margin-right: 6px;
	}

	.Mr-40 {
	  margin-right: 6px;
	}
}