.App {
	display: flex;
	justify-content: center;
}

.Container {
	margin-top: 20px;
	width: 980px;
}

.Action {
	display: flex;
	padding-bottom: 10px;
}

.Action-Input {
	flex-grow: 1;
	border: 1px solid #ddd;
	border-radius: 25px;
	display: flex;
}

.Input {
	flex-grow: 1;
	padding: 6px 12px;
	outline: none;
	border: 0;
	background-color: transparent;
	font-size: 12px;
}

.Input-Text {
	background-image: url("https://cdn.rawgit.com/marcobiedermann/playground/master/ui/search/simple-search-bar/dist/assets/images/magnifier.svg");
	background-position: 99%;
	background-repeat: no-repeat;
	background-size: 1.5em;
}

.Action-Select {
	padding: 4px;
}

.Mr-10 {
	margin-right: 10px;
}

.Filter {
	padding: 12px;
}

.Star-Filter {
	display: flex;
}

.Star-Container {
	display: flex;
	align-items: center;
	padding-right: 10px;
}

.Star-Number {
	padding-right: 5px;
}

.Star-Label {
	display: flex;
	align-items: center;
}